<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 8</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h2 ">LOGIN</h2><!-- Header -->
		<input type="text" placeholder="E-mail address" id="username">
		<a href="">Forgot password?</a>
		<input type="password" placeholder="Password" id="password">
		<input type="submit" value="Login"><br>
		
		<a href="">or registration</a>
					
					
		</section>		
		
	<!-- End Component -->
	
</body>
</html>