<html><head>
	<title> Darrell Liles</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css">
</head>
<body>

	<!-- Component -->
   
    <!-- Social media images will be added using CSS -->
    <section>
        <article>
            <img src="IsisKeigwin.jpg" width="100%" height="100%" alt="Picture of Isis Keigwin">        
            <section>
                <h3>Isis Keigwin</h3>
                <h4>CEO / Founder</h4>
                <ul>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="instagram"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                </ul>
            </section>
        </article>

        <article>
            <img src="Chad-turner.jpg" width="100%" height="100%" alt="Picture of Chad Turner">
            <section>
                <h3>Chad Turner</h3>
                <h4>CTO</h4>
                <ul>
                    <li><a href="#" title="facebook"></a></li>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                    <li><a href="#" title="github"></a></li>
                </ul>
            </section>
        </article>

        <article>
            <img src="Jeremy-mccain.jpg" width="100%" height="100%" alt="Picture of Jeremy Mccain">
            <section>
                <h3>Jeremy Mccain</h3>
                <h4>Creative Director</h4>
                <ul>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                </ul>
            </section>
        </article>
    </section>
	<!-- End Component -->
	

</body></html>