<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 5</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		
		<article>
			<img src="" alt="Jacob Parker">
			<h4>Jacob Parker</h4>
			<p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac</P>
			<p>+1 800 603 6035</p>
			<p><a href="">mail@demolink.org</a></p>
			
			<a href="" class="myButton">View Agent Profile</a>
		
		</article>
		<article>
			<img src="" alt="Ethan Reil">
			<h4>Ethan Reil</h4>
			<p>Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac</P>
			<p>+1 800 603 6035</p>
			<p><a href="">mail@demolink.org</a></p>
			
			<a href="" class="myButton">View Agent Profile</a>
		
		</article>
	
	</section>
	

	<!-- End Component -->
	
</body>
</html>