<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 5</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<img src="jp.jpg" width="270" height="257" alt="Jacob Parker" class="picleft" >
		<article id="left">
			
			<h4 class="topinfo">Jacob Parker</h4>
			<p class="topinfo">Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac</P>
			<p class="info">+1 800 603 6035</p>
			<p class="info"><a href="">mail@demolink.org</a></p>
			
			<a href="" class="button">View Agent Profile</a>
		
		</article>
		
		<img src="er.jpg" width="270" height="257" alt="Ethan Reil" class="picleft" >
		
		<article id="right">
			
			<h4 class="topinfo">Ethan Reil</h4>
			<p class="topinfo">Nam aliquam pretium feugiat. Duis sem est viverra eu interdum ac</P>
			<p class="info">+1 800 603 6035</p>
			<p class="info"><a href="">mail@demolink.org</a></p>
			
			<a href="" class="button">View Agent Profile</a>
		
		</article>
	
	</section>
	

	<!-- End Component -->
	
</body>
</html>