/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */




section {
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	background-color: #OOF;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	
}	

h2 {
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0px
}


#left {
	height: 300px;
	width: 330px;
	background-color: #FFO;
	float: left;
}

#middle {
	height: 300px;
	width:250px;
	background-color: #OFO;
	float: left;	
	
}

#right {
	height: 300px;
	width: 330px;
	background-color: #FOO;
	float: right;
}



.address {
	font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px
   }
   
 .info {
 	font-weight: 400;
    font-style: italic;
    font-family: times new roman, times;
    color: #111;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0px;
}   


















/* HEADER ======================================== */