<html lang="en">
<head>
	
	<title>Darrell Liles</title>
	
	</head>

<body>

	

	<section>
		<h1>Learn</h1>
			<article>
				<img src="images/carrot.png" alt="carrot glyph contained in green square box">
				<h2>Food</h2>
				<p>Local, sustainable, organic farms and gardens ensure abudant, nutritous food production for all</p>
			</article>
			<article>
				<img src="images/water.png" alt="waterdrop glyph in blue square box">
				<h2>Water</h2>
				<p>Healthy watersheds + healthy ecosystems. Harvest and conserve to make our water go further</p>
			</article>
			<article>
				<img src="images/waste.png" alt="recycling icon in red square box">
				<h2>Waste</h2>
				<p>Reduce, resue, recycle and rethink how we treat waste in our homes and communties</p>
			</article>
			<article>
				<img src="images/bulb.png" alt="lightbulb icon in yellow square box">
				<h2>Energy</h2>
				<p>Engage renewable energy sources and conservation at macro(grid) and micro(home) levels</p>
			</article>
			<article>
				<img src="images/tent.png" alt="tent icon in orange square box">
				<h2>Shelter</h2>
				<p>Transform your shelther into a low-impact, less expensive and healthier place to dwell.</p>
			</article>
			<article>
				<img src="images/viewall.png" alt="blue narrow arrow pointing right in grey square box">
				<h2>View all</h2>
				<p>All five core areas work together to bring about positive ecological transformation</p>
			</article>
	</section>

</html>


	



  


</body></html>