/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */




header {
	background-color: #fa4c2a;
	
}	

/* ----- MAIN NAVIGATION ----- */
nav {
	float: left;
	margin: 22px 0px 0px 47px;
	min-width: 470px;
}
nav li {
	display: inline;
	color: #237DAC;
    font-size: 14px;
}


    
nav li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: normal;
    margin: 0px 14px 0px 10px;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);


.brandname
	font-weight: 300;
}	


/* SOCIAL ======================================== */





#social
	
