<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 1</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<header>
	<div>
	<h1 class="brand"><a href="./">Motor<span>cycles</span></a></h1>
	</div>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Gallery</a></li>
			<li><a href="">News</a></li>
			<li><a href="">Contacts</a></li>
		</ul>
	
	</nav>
		<section id="social">	
			<ul>
				<li><a href="http://facebook.com"><span class="socicon">b</span></a></li>	
				<li><a href="http://twitter.com/qimzu"><span class="socicon">a</span> @qimzu</a>
				</li>
				<li><a href="http://googleplus.com"><span class="socicon">c</span></a></li>
				<li><a href="http://youtube.com"><span class="socicon">r</span></a></li>
			</ul>
		</section>	
			
		<section id="search">
		<ul>
			<li><a href="">My account</a></li>	
		</ul>	
		</section>
	
</header>
	<!-- End Component -->
	
</body>
</html>