<!DOCTYPE html>
<html>
<head>
	<title>WSP Component:Component 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<section>
		<h2>About</h2>
		<h1>Creative Force</h1>
		<h4>Meet the Founders</h4>
		
		
		
			<article>
				<img src="2.jpg" alt="portrait of Jorgen Hassler of creative force">
				<h3>Jorgen Hassler, BA</h3>
				<h4>Creative Director and Founder</h4>
				<a href="twitter.com/jorgen" alt="twitter">Twitter</a>/<a href="linkedin.com/jorgen"
				alt="linkedin">LinkedIn</a>/<a href="dribble.com/jorgen" alt="dribble">Dribble</a><br>
			</article>	
			<article>
				<img src="1.jpg" alt="portrait of Melanie Daveid of creative force">
				<h3>Melanie Daveid, BA</h3>
				<h4>Creative Director and Founder</h4>
				<a href="twitter.com/jorgen" alt="twitter">Twitter</a>/<a href="linkedin.com/jorgen"
				alt="linkedin">LinkedIn</a>/<a href="dribble.com/jorgen" alt="dribble">Dribble</a><br>
			</article><br>			
	
	<section>
		
</body>
</html>