<!DOCTYPE html>
<html>
<head>
	<title>WSP Component:Component 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<section>
		<h4>About</h4>
		<h2>Creative Force</h2>
		<h3>Meet the Founders</h3>
			<article>
				<img src="2.jpg" alt="portrait of Jorgen Hassler of creative force">
				<h5>Jorgen Hassler, BA</h5>
				<h3>Creative Director and Founder</h3>
				<a href="twitter.com/jorgen" alt="twitter">Twitter</a>/<a href="linkedin.com/jorgen"
				alt="linkedin">LinkedIn</a>/<a href="dribble.com/jorgen" alt="dribble">Dribble</a><br>
			</article>	
			<article>
				<img src="1.jpg" alt="portrait of Melanie Daveid of creative force">
				<h5>Melanie Daveid, BA</h5>
				<h3>Creative Director and Founder</h3>
				<a href="twitter.com/jorgen" alt="twitter">Twitter</a>/<a href="linkedin.com/jorgen"
				alt="linkedin">LinkedIn</a>/<a href="dribble.com/jorgen" alt="dribble">Dribble</a><br>
			</article><br>			
	
	<section>
		
</body>
</html>