<!DOCTYPE html>
<html>
<head>
	<title>WSP Component:Component 4</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<ul>
			<li> <a href="" target="_blank"><img src="" />
				<div>
					<h3>Reels</h3>
					<h4>Dolore Ipsum</h4>
					<span data-icon="&#x25a8"></span>
				</div>
				</a>	
			</li>	
			<li> <a href="" target="_blank"><img src="" />
				<div>
					<h3>Rods</h3>
					<h4>Dolore Ipsum</h4>
					<span data-icon="&#x25a8"></span>
				</div>
				</a>	
			</li>	
			<li> <a href="" target="_blank"><img src="" />
				<div>
					<h3>Hard Baits</h3>
					<h4>Dolore Ipsum</h4>
					<span data-icon="&#x25a8"></span>
				</div>
				</a>	
			</li>	
			<li> <a href="" target="_blank"><img src="" />
				<div>
					<h3>Packs</h3>
					<h4>Dolore Ipsum</h4>
					<span data-icon="&#x25a8"></span>
				</div>
				</a>	
			</li>	
		
		</ul>
	</section>
	<!-- End Component -->
	
</body>
</html>