/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


body {
	background-color:#FFF;
	
}

section {
	margin: 50px;
	padding-top: 45px;
	border-top: 2px #000 solid;
	
	float: left;
	clear: both;
}
article {
	float: left;
	clear: none;
	margin-right: 32px;
	padding-bottom: 50px;
	border-bottom: 2px #000 solid;
}

img {
	width: 534px;
	height: 398px;
}		

h1, h2, h3, h4, a {
	color: #000;
	font-family: "Helvetica";
	font-size: 34px;
	text-transform: uppercase;
}	


h2 {
	font-size: 14px;
	color: #ddd;
	margin-bottom: 20px;
}

h3, h4, a {
	font-size: 13px;
	text-transform: none;
}

h3 {
	margin-top: 10px;
}

h4 { 
	color: #ec5456;
	font-family: "adobe-caslon-pro-1", "adobe-caslon-pro-2",serif;
	font-style; italic;
	font-size: 11px;
	margin-bottom: 30px;
}
						

ul {
	margin: 0;
	padding: 10px 0 45px 0;
	float: left;
}
li {
	list-style-type: none;
	clear: none;
	display: inline;
}

ul li a {
	color: #000;
	text-decoration: none;
}								