<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/registration.style.css">
<head lang="en">
    <meta charset="UTF-8">
    <title> Darrell Liles</title>
</head>
<body>
<section id="box">
<img alt="gilt logo" src="giltlogin.jpg">
<article class="login">
    <form>
        <section id="fields">
        <p><input id="login" type="text" name="login"  placeholder="Email Address"></p>
        <p><input id="password" type="text" name="password" placeholder="Password"></p>
        </section>
        <button class="submit">Submit</button>

        <p class="remember_me">
            <label>
                <input type="checkbox" id="remember_me">
                Remember me
            </label>
        </p>
    </form>

</article>

<article class="forgotpassword">
    <a id="pass" href="">Forgot your password?</a>
</article>
    <div class="headerDivider"><hr></div>or<div class="headerDivider"><hr></div>
<article>
<button class="facebook"><img id="fb" src="facebookicon.jpg">Login with facebook</button>
</article>
<article>
    <p>Not a member? <a id="sign" href="">Sign Up</a></p>

</article>
</section>
</body>
</html>