<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 3</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda">
</head>
<body>

	<!-- Component -->
<section >
	<h1>Squash is like boxing with racquets</h1>
	
	<a href="" class="button">Join the club<a/> 	
	
<!--	<ul>
		<li><a href="">previous</a></li>
		<li><a href="">next</a></li>
	</ul>	--->
	
</section>
	<!-- End Component -->
	
</body>
</html>