<html>
<head>
	<meta charset="UTF-8">
	<title>Darrell Liles</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	
	
</head>
<body>
		
		
		<header>
			<div id="wrapper">
				<h1>codrops</h1>
				<!-- This UL is for the main navigation -->
				<nav>
					<ul>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Playground</a></li>
						<li><a href="#">Blueprints</a></li>
						<li><a href="#">Collective</a></li>
						<li><a href="#">CSS Reference</a></li>
					</ul>
				</nav>
				<!-- This UL will eventually hold the social icons once CSS is applied -->
				<section id="social">
					<ul>
						<li><a href="http://feeds2.feedburner.com/tympanus" class="rss-icon">Feedburner</a></li>
						<li><a href="http://feedburner.google.com/fb/a/mailverify?uri=tympanus&amp;loc=en_US" class="email-icon">Email</a></li>
						<li><a href="http://www.twitter.com/codrops" class="twitter-icon">Twitter</a></li>
						<li><a href="http://www.facebook.com/pages/Codrops/159107397912" class="facebook-icon">Facebook</a></li>
						<li><a href="https://plus.google.com/101095823814290637419" class="google-icon">Google Plus</a></li>
						<li><a href="https://github.com/codrops" class="github-icon">Github</a></li>
					</ul>
				</section>

				<!-- This will be the standalone search icon -->
				<section id="search">
					<button class="magnify"></button>
				</section>
			</div><!-- End #wrapper -->
		</header>
		<!-- END HEADER COMPONENT HTML -->

</body>

</html>