<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Component 6</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<section>

	<article>
		<h2>Blog</h2>
		<img src="" alt=" Halloween cupcake">
		<h3>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisqu.</h3>
		<p>09.22.2014</p> 
		<p>posted by:admin</p>
		<p>comments:7</p>
		<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Pellentesque sed dolor. Aliquqam
			congue fermen nisi. Mauris accusman nulla vel diam. Sed in lactus ut, ligula. Aliquam dapibus tincidunt metus.</p>
		
		<a href="" class="myButton">Read More</a>	
	</articles>	

</section>	
		
	

	<!-- End Component -->
	
</body>
</html>