<html><head>
	<title> Darrell Liles</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="component.css">
</head>
<body>

	<!-- Component -->
	<section>
		<h3>Success is in the air</h3>

			<article>
			<p>... I am so thankful that Treehouse has allowed me to get started and follow something that I'm truly passionate about.</p>
			<div class="person">
				<h4>Jon Farrell</h4>
				<p>Sydney Australia</p>
				<img src="john.jpg" alt="jon_photo">
			</div>
			</article>

			<article>
			<p>Watching the Treehouse videos, I was having little
				"Ahaaa, that makes sense!" moments, the videos are broken down into just the right amount to be able to absorb, without getting
				too frustrated.</p>
			<div class="person">
				<h4>Toby Powell</h4>
				<p>Bangkok, Thailand</p>
				<img src="toby.jpg" alt="toby_photo">
			</div>
			</article>

			<article>
			<p>I'm starting a business based on the web, and that's huge to me. I am attributing this to Treehouse because it gave me the skills under my belt, and the confidence to start my own business.</p>
			<div class="person">
				<h4>Martha Chumo</h4>
				<p>Nairobi, Kenya</p>
				<img src="martha.jpg" alt="martha_photo">
			</div>
			</article>

	</section>


	<!-- End Component -->



</body></html>