<html>
<head>
	<title> Darrell Liles</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="component.css">
</head>
<body>

	<!-- Component -->
	<section id="projects_list">
		<h2>Latest Projects</h2>

		<article>
			<a href="#">
				<img src="images/first_project_image.jpg" alt="project screenshot">
			    <h3>Don't stop ever</h3>
            </a>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed
				dolor a lacus facilisis hendrerit eu non turpis. Donec condimentum,
				enim ut facilisis rhoncus, nisl mauris porta augue, id auctor turpis
				mauris nec nisl.
			</p>
		</article>

		<article>
			<a href="#">
				<img src="images/second_project_image.jpg" alt="project screenshot">
			    <h3>Another idea for the office</h3>
            </a>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed
				dolor a lacus facilisis hendrerit eu non turpis. Donec condimentum,
				enim ut facilisis rhoncus, nisl mauris porta augue, id auctor turpis
				mauris nec nisl.
			</p>
		</article>

		<article>
			<a href="#">
				<img src="images/third_project_image.jpg" alt="project screenshot">
			    <h3>Never too late for thinking</h3>
            </a>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed
				dolor a lacus facilisis hendrerit eu non turpis. Donec condimentum,
				enim ut facilisis rhoncus, nisl mauris porta augue, id auctor turpis
				mauris nec nisl.
			</p>
		</article>

	</section>
	

	<!-- End Component -->
	

</body>
</html>