<html>
<head>
	<title>WSP: Darrell Liles</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	
</head>
<body>
	<!-- BEGIN FOOTER COMPONENT -->
	<footer>
		<!-- BEGIN FOOTER MENUS -->
		<section id="footerMenu">
			<!-- For Physicians -->
			<section>
				<h3>For Physicians</h3>
				<ul>
					<li><a href="#">Physician &amp; Practice Partnerships</a></li>
					<li><a href="#">Why Join the Group</a></li>
					<li><a href="#">Benefits of Joining</a></li>
				</ul>
			</section>
	
			<!-- For Employees -->
			<section>
				<h3>For Employees</h3>
				<ul>
					<li><a href="#">Employee Email</a></li>
					<li><a href="#">Employee Portal</a></li>
					<li><a href="#">Career Advancement</a></li>
				</ul>
			</section>
	
			<!-- Terms of Use -->
			<section>
				<h3>Terms of Use</h3>
				<ul>
					<li><a href="#">Notice of Privacy Practices</a></li>
					<li><a href="#">Terms of Use</a></li>
				</ul>
			</section>
	
			<!-- Follow Us -->
			<section id="social">
				<h3>Follow Us</h3>
				<ul>
					<li><a href="#"><span class="socicon">b</span> </a></li>
					<li><a href="h#"><span class="socicon">a</span> </a></li>
					<li><a href="#"><span class="socicon">r</span> </a></li>
					<li><a href="#"><span class="socicon">c</span> </a></li>
					<li><a href="#"><span class="socicon">d</span> </a></li>
					<li><a href="#"><span class="socicon">j</span> </a></li>
				</ul>
			</section>
		</section>
		<!-- END FOOTER MENUS -->

		<!-- BEGIN FOOTER BRANDING/LOGO -->
		<section id="footerBranding">
			<div class="footerLogo"></div>
		</section>
		<!-- END FOOTER-BRANDING/LOGO -->
	</footer>
	<!-- END FOOTER COMPONENT -->

</body>
</html>