<!DOCTYPE html>
<html>
<head>
	<title>WSP Component:Component 10</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
<p>Internet Cafe 2015 Privacy Policy</p>
<span data-icon="&#x25a8"></span>
<p>28 Jackson Blvd Ste 1020</p>
<p>Chicago, IL 60604-2340</p>

<ul>
	<li>
		<a href="">facebook</a>
		<a href="">twitter</a>
		<a href="">pinterest</a>
		<a href="">google plus</a>




</footer>
	

	<!-- End Component -->
	
</body>
</html>